<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../static/styles_booking.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src = "../static/script.js"></script>
</head>
<body onload = "getCountDown()">
    <header>
        <p id = "promo">[PROMOTION] Receive a complimentary Blossom Cupcake with your purchase! | ends in</p>
        <p id = "time"></p>
    </header>
    <div class="navbar">
        <a href="index.html" title = "Home page">HOME</a>
        <a href="seasonal.html" title = "Seasonal page">SEASONAL</a>
        <a href="bakedgoods.html" title = "Baked goods page">BAKED GOODS</a>
        <a href="booking.html" class = "active" title = "Booking page">BOOKING</a>
        <a href="contact.html" title = "Contact page">CONTACT</a>
    </div>
    <div class = "row1">
        <h1 id = "title">Order Now!</h1>
        <h2 id = "directions">Simply call (814)-937-1564 to order and prepay with a credit card.</h2>
        <h3 id = "reminder">Please order as early as possible. During very busy weeks we may not be able to accommodate you. All items are order-only. There is no walk-in shop.</h3>
        <hr>
    </div>
    <div class = "row2">
        <div class="sideL2">
            <h2>Orders must be placed a certain number of working days in advance:</h2>
            <ul>
                <li>Regular & gourmet cupcakes: 1-2</li>
                <li>Custom-made cookies & cupcakes: 7</li>
                <li>Cookie cakes & trays: 5</li>
                <li>Cakes: booked according to our schedule</li>
            </ul>
            <h2>Placed an order?</h2>
            <h3>Check for a confirmation email, and we will email/text you when your order is ready.</h3>
            <h2>We value your feedback! </h2>
            <h3>Leave a review on Yelp for 15% off your next order!</h3>
        </div>
        <div class = "sideR2">
            <img class = "logo" src = "../static/icons/logo.png" alt = "Says It With Sweets logo">
        </div>
    </div>
    <footer>
        <p>Say It With Sweets  |  1307 Pleasant Valley Blvd., Altoona PA, 16602, US  |  (814)-937-1564<br>All photos courtesy of Say It With Sweets</p>
    </footer>
</body>
</html>