<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/styles_contact.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src = "../static/script.js"></script>
</head>
<body onload = "getCountDown()">
    <header>
        <p id = "promo">[PROMOTION] Receive a complimentary Blossom Cupcake with your purchase! | ends in</p>
        <p id = "time"></p>
    </header>
    <div class="navbar">
        <a href="index.html" title = "Home page">HOME</a>
        <a href="seasonal.html" title = "Seasonal page">SEASONAL</a>
        <a href="bakedgoods.html" title = "Baked goods page">BAKED GOODS</a>
        <a href="booking.html" title = "Booking page">BOOKING</a>
        <a href="contact.html" class = "active" title = "Contact page">CONTACT</a>
    </div>
    <div class = "row1">
        <h1 id = "title">Contact Information:</h1>
        <div class = "icons">
            <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                <img class = "ins" src="../static/icons/ins.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">
                <img class = "fb" src="../static/icons/fb.png" alt="Facebook">
            </a>
            <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona" target="_blank">
                <img class = "yelp" src="../static/icons/yelp.png" alt="Yelp">
            </a>
            <a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">
                <img class = "ta" src="../static/icons/tripadvisor.png" alt="Trip Advisor">
            </a>
        </div>
    </div>
    <div class = "row2">
        <div class="sideL2">
            <table> 
                <caption>Address, phone number, email, and pick up hours of Say It With Sweets</caption>
                <tr><th>Contact Method</th><th>Description</th></tr>
                <tr><td>address</td><td>1307 Pleasant Valley Blvd., Altoona PA, 16602, US</td></tr>
                <tr><td>phone</td><td>(814)-937-1564</td></tr>
                <tr><td>email</td><td>info@sayitwithsweets.com</td></tr>
                <tr><td>pick up hours</td><td>M-F 10:00AM - 3:00PM. Weekend by appointment.</td></tr>
            </table>
            <br>
            <h2>Map:</h2>
            <p id = "distance"></p>
            <div id = "location">
                <div id="map"></div>
                <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly"});</script>
            </div>
        </div>
        <div class="sideR2">
            <p>Icons courtesy of Iconfinder</p>
            <br>
            <h1 id = "join">Join our email list!</h1>
            <form action ="mailto:info@sayitwithsweets.com" method="post" enctype="text/plain">
                <label for = "name">Name (required):</label><br>
                <input type="text" name="name" id="name" required><br>
                <label for = "email">Email (required):</label><br>
                <input type="email" name="email" id="email" required><br>
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="updates" id="updates">
                    <label for="updates">Check to receive email updates.</label>
                </div><br>
                <label for = "phonenumber">Mobile Phone Number:</label><br>
                <input type="tel" name="phonenumber" id="phonenumber"><br>
                <label for = "zipcode">Zip Code:</label><br>
                <input type="text" name="zipcode" id="zipcode"><br>
                <input type="submit" value="SUBMIT" onclick="validate()" id="submit">
            </form>
        <p id = "ValidateMsg"></p>
        </div>
    </div>
    <footer>
        <p>Say It With Sweets  |  1307 Pleasant Valley Blvd., Altoona PA, 16602, US  |  (814)-937-1564<br>All photos courtesy of Say It With Sweets</p>
    </footer>
</body>
</html>