<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seasonal</title>
    <link rel="stylesheet" href="../static/styles_seasonal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src = "../static/script.js"></script>
</head>
<body onload = "getCountDown()">
    <header>
        <p id = "promo">[PROMOTION] Receive a complimentary Blossom Cupcake with your purchase! | ends in</p>
        <p id = "time"></p>
    </header>
    <div class="navbar">
        <a href="index.html" title = "Home page">HOME</a>
        <a href="seasonal.html" class = "active" title = "Seasonal page">SEASONAL</a>
        <a href="bakedgoods.html" title = "Baked goods page">BAKED GOODS</a>
        <a href="booking.html" title = "Booking page">BOOKING</a>
        <a href="contact.html" title = "Contact page">CONTACT</a>
    </div>
    <div class="row1">
        <h1>[NEW] Enjoy a 10% discount on all Easter-themed orders placed in March!</h1>
    </div>
    <div class = "row2">
        <div class = "text">
            <h2>Current season: Spring<br>Limited time flavor: cherry blossom<br>Upcoming season: Easter</h2>
            <h2>Monthly:</h2>
            <div class = "seasons-lists">
                <ul id = "seasons-first">
                    <li>January: Winter</li>
                    <li>February: Valentine’s Day</li>
                    <li>March: Spring</li>
                    <li>April: Easter</li>
                    <li>May: Graduation</li>
                    <li>June: Summer</li>
                </ul>
                <ul id = "seasons-second">
                    <li>July: Independence Day</li>
                    <li>August: Fall</li>
                    <li>September: Fall</li>
                    <li>October: Halloween</li>
                    <li>November: Thanksgiving</li>
                    <li>December: Christmas</li>
                </ul>
            </div>
        </div>
        <div class="carousel">
            <div class="images">
                <div class="image">
                    <img src="../static/photos/winter.jpg" alt="Winter blue cupcake bouquet">
                </div>
                <div class="image">
                    <img src="../static/photos/valentines.jpg" alt="Valentine's day cookie box">
                </div>
                <div class="image">
                    <img src="../static/photos/spring.jpg" alt="Spring flower cupcakes">
                </div>
                <div class="image">
                    <img src="../static/photos/eastercookies.jpg" alt="Easter cookie box">
                </div>
                <div class="image">
                    <img src="../static/photos/grad.jpg" alt="Graduation cupcakes">
                </div>
                <div class="image">
                    <img src="../static/photos/summer.jpg" alt="Summer beach cupcakes">
                </div>
                <div class="image">
                    <img src="../static/photos/independence.jpg" alt="USA flag cupcake creation">
                </div>
                <div class="image">
                    <img src="../static/photos/sunflower.jpg" alt="Fall sunflower cookies">
                </div>
                <div class="image">
                    <img src="../static/photos/fall.jpg" alt="Fall flower cupcake bouquet">
                </div>
                <div class="image">
                    <img src="../static/photos/halloweencookies.jpg" alt="Halloween cookies">
                </div>
                <div class="image">
                    <img src="../static/photos/thanksgiving.jpg" alt="Thanksgiving turkey cupcake creation">
                </div>
                <div class="image">
                    <img src="../static/photos/christmascupcakes.jpg" alt="Christmas cupcakes">
                </div>
            </div>
            <div class="button-container">
                <button class="prev">Previous</button>
                <button class="next">Next</button>
            </div>
        </div>
    </div>
    <footer>
        <p>Say It With Sweets  |  1307 Pleasant Valley Blvd., Altoona PA, 16602, US  |  (814)-937-1564<br>All photos courtesy of Say It With Sweets</p>
    </footer>
</body>
</html>