<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say It With Sweets</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src = "../static/script.js"></script>
</head>
<body onload = "getCountDown()">
    <header>
        <p id = "promo">[PROMOTION] Receive a complimentary Blossom Cupcake with your purchase! | ends in</p>
        <p id = "time"></p>
    </header>
    <div class="navbar">
        <a href="index.html" class = "active" title = "Home page">HOME</a>
        <a href="seasonal.html" title = "Seasonal page">SEASONAL</a>
        <a href="bakedgoods.html" title = "Baked goods page">BAKED GOODS</a>
        <a href="booking.html" title = "Booking page">BOOKING</a>
        <a href="contact.html" title = "Contact page">CONTACT</a>
    </div>
    <div class="row1">
        <div class="sideL">
            <h1>Cakes, Cupcakes & Cookies...<br>we have you covered!</h1>
            <h3>At Say It With Sweets, we make the perfect “sweet” gifts<br>for your special celebration.</h3>
        </div>
        <img class = "logo" src = "../static/icons/logo.png" alt = "Says It With Sweets logo">
        <div class="sideR">
            <img class = "blossom" src = "../static/photos/blossomcupcakes.jpg" alt = "blossom cupcakes">
        </div>
    </div>
    <div class="row2">
        <div class="sideL2">
            <video id="vid" controls>
                <source src="../static/vid.mp4" type="video/mp4">
            </video>
        </div>
        <div class="sideR2">
            <h2>About Us:</h2>
            <h3>We offer our famous gourmet cupcakes for any occasion or just because you want some. Be sure to browse our website for gifts such as cookie bouquets, chocolate-covered treats, or cookie trays, certain to delight anyone. Please order early to make sure you don't miss out on any of our "sweet" creations. <br>Each month we put out a direct mailer that features our monthly promotional item and a coupon. Join our email list to learn more!</h3>
        </div>
    </div>
    <footer>
        <p>Say It With Sweets  |  1307 Pleasant Valley Blvd., Altoona PA, 16602, US  |  (814)-937-1564<br>All photos courtesy of Say It With Sweets</p>
    </footer>
</body>
</html>