*{
    font-family: Roboto;
    line-height: 1.5;
    box-sizing: border-box;
}
h1 {
    font-size: 25px;
    line-height: 1.25;
    font-family: Roboto-bold;
}
h2 {
    font-size: 20px;
    font-family: Roboto-bold;
}
h3, form, th, td, input{
    font-family: Roboto;
    font-size: 20px;
}
p{
    font-size: 18px;
}
.navbar {
    width: 100%;
    font-size: 20px;
}
.navbar a {
    display: block;
    float: left;
    width: 20%;
    align-items: center;
    color: var(--PINK);
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    justify-content: space-between;
}
.navbar a:hover {
    background-color: var(--BROWN);
    color: var(--WHITE);
}
.navbar a.active {
    background-color: var(--PINK);
    color: var(--WHITE);
}
header {
    display: flex;
    float: left;
    width: 100%;
    padding: 0.7%;
    background-color: var(--PINK25);
    color: var(--BROWN)
}
#promo {
    flex: 60%;
    text-align: right;
}
#time {
    flex: 30%;
    padding-left: 0.7%;
}
footer {
    float:left;
    top: auto;
    width: 100%;
    padding: 0.7%;
    text-align: center;
    background-color: var(--PINK25);
    color: var(--BROWN)
}
@font-face{
    font-family: Roboto;
    src: url(../static/Roboto/Roboto-Regular.ttf)
}
@font-face{
    font-family: Roboto-bold;
    src: url(../static/Roboto/Roboto-Black.ttf)
}
@font-face{
    font-family: Roboto-italic;
    src: url(../static/Roboto/Roboto-Italic.ttf)
}
:root {
    --BROWN: #B46148;
    --PINK10: #F58A8B1A;
    --PINK25: #F58A8B40;
    --PINK: #F58A8B;
    --YELLOW: #DF9D5C;
    --YELLOW10 : #DF9D5C1A;
    --WHITE: #F8F7F6;
}
/*CONTACT PAGE*/
.row1 {
    padding-top: 1.5%;
    max-height: 10%;
}
#title {
    flex: 60%;
}
.icons {
    flex: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-right: 5%;
}
.ins, .yelp, .fb, .ta{
    min-height: 0;
    min-width: 0;
    height: auto;
    width: 40%;
}
.row1, .row2 {
    padding-left: 5%;
    float:left;
    width: 100%;
    display: flex;
    color: var(--BROWN);
}
.row2{
    padding-bottom: 5%;
}
.row2{
    display: flex;
}
.sideL2 {
    flex: 60%;
}
.sideR2 {
    flex: 40%;
}
table {
    width: 80%;
    text-align: center;
    border: 3px solid var(--BROWN);
}
th {
    padding: 1%;
    background-color: var(--BROWN);
    color: var(--WHITE);
}
td {
    padding: 1%;
    color: var(--BROWN);
    border: 3px solid var(--BROWN);
}
table tr:nth-child(even){
    background-color: var(--YELLOW10);
}
#map{
    padding-top: 1%;
    height: 40vh;
    width: 80%;
}
input[type = "submit"]{
    display: block;
    width: 40%;
    padding: 1%;
    background-color: var(--BROWN);
    color: var(--WHITE);
    border: none;
}
form {
    color: var(--BROWN);
}
input:not(#updates, #submit){
    display: block;
    width: 70%;
    background-color: var(--YELLOW);
    color: var(--WHITE);
    border: none;
}
.checkbox-wrapper {
    min-width: 0;
}